:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 28px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

img {
  box-shadow: var(--box-shadow);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link:hover {
  border: var(--primary-color);
  border-radius: 4px;
  background: white;
  color: var(--primary-color);
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.secondary-link:hover {
  color: white;
  background: var(--primary-color);
}

.goTo-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  font-size: 22px;
}

.row-index {
  margin-bottom: 40px;
  padding: 35px 10px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
}

@media (max-width: 560px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  img {
    display: none;
  }

  p.text-start,
  h1.text-start {
    text-align: center !important;
  }

  .goTo-button {
    display: block;
    text-align: center;
  }

  .email-link {
    font-size: 20px;
  }
}
